
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

.container {
    display: flex;
    height: auto;
}

.box {
    text-align: center;
    justify-content: center;
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    margin: 5px;
    padding: 10px;
    cursor: move;
}

.box:hover {
    background-color: #bbb;
}

.header-bar {
    width: auto;
    min-height: 15%;
    background-color: lightgray;
    border: solid 3px gray;
}

.header-logo {
    width: 45px;
    height: 45px;
    margin: 5px;
}

.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 300;
    background-color: gray;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.header-btn:hover {
    background-color: gray;
    /* -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05); */
    transform: scale(1.05);
    transition: 0.3s;
}

.project {
    width: 100%;
    min-height: 400px;
    margin: 0;
}

.side-bar {
    flex-direction: column;
    border: solid 3px lightgray;
    margin: 5px 0 5px 5px;
    width: 20%;
    min-width: 15%;
    min-height: 30%;
}

.pages {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

.tabs {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    width: fit-content;
}

.tab-title {
    display: flex;
    height: 100%;
    width: fit-content;
    height: 25px;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    font-size: large;
    background-color: #bbb;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.tab-title:hover{
    background-color: lightgray;
    border-left: solid 5px gray;
}

.tab-title.open {
    background-color: lightgray;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: min-content;
    height: 100%;
    position: relative;
    border: solid 3px lightgray;
    transition: 5s ease;
}

.page.hide {
    height: 0;
    border: none;
    display: none;
}

.code {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: fit-content;
}

.code-line {
    position: relative;
    z-index: 10;
    min-width: min-content;
    height: fit-content;
    min-height: 85px;
    margin: 2px 5px 2px 2px;
    padding: 10px 10px 10px 50px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

.code-line.selected {
    border: 3px dotted blue;
}

.line-header {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 4%;
    max-width: 40px;
    min-width: 25px;
    height: 100%;
    background-color: #666;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.line-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.code-obj {
    position: absolute;
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 15px;
    cursor: move;
}

.code-obj .text {
    display: flex;
    position: relative;
    text-align: center;
    pointer-events: none;
    font-size: large;
    padding: 10px;
}

.code-line.over, .rightDrop.over, .leftDrop.over, .topDrop.over, .bottomDrop.over {
    border: 3px dotted #666;
}

.code-obj.selected {
    border: 3px dotted blue;
}

.leftDrop {
    position: absolute;
    height: 110%;
    left: -10px !important;
    width: 15px;
    min-width: 15px !important;
}

.rightDrop {
    position: absolute;
    height: 110%;
    right: -10px !important;
    width: 15px;
    min-width: 15px !important;
}

.topDrop {
    position: absolute;
    width: 110%;
    top: -10px !important;
    height: 15px;
    min-height: 15px !important;
}

.bottomDrop {
    position: absolute;
    width: 110%;
    bottom: -10px !important;
    height: 15px;
    min-height: 15px !important;
}

.line-toolbar {
    min-width: 100%;
    margin-bottom: 2px;
    max-height: 50px;
    align-items: center;
    background-color: lightgray;
}

.line-tool {
    display: flex;
    height: min-content;
    width: 40px;
    align-items: center;
    margin: 5px;
    border: none;
    transition: 1s ease;
}

.line-tool:hover {
    /* -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15); */
    border-bottom: solid 5px gray;
    transition: 0.1s ease;
}

.line-tool img {
    height: auto;
    width: 40px;
    cursor: pointer;
}
